<section class="about">
  <div class="about-info">
    <h1>About Me</h1>
    <p>Hello! I’m Gaurav Gaurav, a passionate web developer and systems programmer based in Canada. I have a keen interest in information systems and love creating efficient, user-friendly applications. My journey in technology began with a fascination for how things work behind the scenes, leading me to pursue a career in software development.</p>

    <h2>Education</h2>
    <p>I hold a degree in Computer Science. I  have developed a strong foundation in programming and software engineering principles. I enjoy learning new technologies and staying up-to-date with industry trends.</p>

    <h2>Skills</h2>
    <ul class="skills">
      <li>Web Development (HTML, CSS, JavaScript)</li>
      <li>Back-end Development (Node.js, Express)</li>
      <li>Database Management (MongoDB, SQL)</li>
      <li>Software development</li>
      <li>Version Control (Git, GitHub)</li>
    </ul>

    <h2>Interests</h2>
    <p>When I’m not coding, I enjoy exploring the outdoors, reading tech blogs, and working on personal projects. I’m always looking for opportunities to improve my skills and collaborate with other developers.</p>

    <h2>Contact Me</h2>
    <p>If you’d like to connect or have any questions, feel free to reach out to me via <a href="mailto:gb232482@gmail.com">email</a> or connect with me on <a href="https://www.linkedin.com/in/gaurav-brar-397056274/">LinkedIn</a>.</p>
  </div>
</section>
