<section class="profile">
    <div class="profile-info">

        <img src="/images/profile-pic.png" alt="Gaurav" class="profile-img">

        <h1>Gaurav Gaurav</h1>
        <p>Web Developer, Systems Programmer, Information Systems Enthusiast</p>

        <ul class="contact-info">
            <li>
                <i class="fas fa-envelope"></i>
                <a href="mailto:gb232482@gmail.com">contact@Gaurav</a>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i> Canada
            </li>
            <li>
                <i class="fab fa-linkedin"></i>
                <a href="https://www.linkedin.com/in/gaurav-brar-397056274/">LinkedIn</a>
            </li>
            <li>
                <i class="fab fa-instagram"></i>
                <a href="https://www.instagram.com/gaurav_13">Instagram</a>
            </li>
        </ul>

        <h2>Working on:</h2>
        <ul class="projects">
            <li>Portfolio Website (Node.js, Express, Handlebars)</li>
            <li>VR Driving Game Analysis (Python, Machine Learning)</li>
            <li>Data Analysis Dashboard (React, D3.js)</li>
        </ul>

        <h2>Programming Languages:</h2>
        <ul class="languages">
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
            <li>SQL</li>
        </ul>
    </div>
</section>