<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
  <header>
    <nav>
      <ul class="nav-left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
      <ul class="nav-right">
        <li>
          <a href="https://github.com/Gaurav-OP" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/gaurav-brar-397056274/" class="social-icon" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/gaurav_13" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="mailto:contact@GauravGaurav.com" class="social-icon">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/images/profile-pic.png" alt="Gaurav's Portfolio Logo">
      </div>
      <p>Who is Gaurav Gaurav? Lives and works in Canada building useful things.</p>

      <div class="categories">
        <h3>Categories</h3>
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/contact">Contact Me</a></li>
          <li><a href="/home">Back to Homepage</a></li>
        </ul>
      </div>

      <div class="more-about-me">
        <h3>More About Me</h3>
        <ul>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:contact@Gaurav-OP.com">contact@Gaurav-OP.com</a>
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i> Canada
          </li>
          <li>
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/gaurav-brar-397056274/">LinkedIn</a>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
            <a href="https://www.instagram.com/gaurav_13">Instagram</a>
          </li>
        </ul>
      </div>
    </div>

    <p>© 2024 by GauravGauravPortfolio. All rights reserved.</p>
  </footer>
</body>

</html>
